.App {
  font-family: sans-serif;
  text-align: center;
}
h1{
  color: red;
}

ul > li {
  text-transform: capitalize;
}
div {
  display: inline-block;
  margin: 1rem;
}

img {
  width: 270px;
  height: auto;
}
